<h3>Reviews</h3>
<form id="delete-review-form">
	<% _.each(collection, function(review) { %>
		<div class="well">
			<div class="row-fluid">
				<b><%= review.user.username %></b> 
				reviewed on <b><%= new Date(review.updated_at).toLocaleString() %></b> 
				with score <b><%= review.score %></b>
				<div class="pull-right">
					<% if ($('#user_id').attr('value') == review.user.id) { %>
						<button type="submit" id="review-delete" class="btn" value="<%= review.id %>">Delete</button>
					<% } %>
				</div>
			</div>
			
			<br/>
			<%= review.comment %>
		</div>
	<% }); %>
</form>

<% if (access_token) { %>
	<form id="add-review-form">
		<legend>Write Review</legend>
	    <label for="score">Score</label>
	    <input id="score" name="review[score]" type="number">
	    <label for="comment">Comment</label>
	    <input id="comment" name="review[comment]" type="text">
	    <br />
	   	<button type="submit" id="review-add" class="btn btn-primary">Create</button>
	</form>
<% } %>